
/*section 3 : Partenaire*/
.service_partenaire {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}
.service_partenaire h2 {
    font-weight: 400;
font-size: 2.2em; 
text-align: center;
}
.partenaire_contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.partenaire_form {
    height: 350px;
    width: 350px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.1);
}


 /*  styles CSS pour les tablettes ici */
  @media only screen and (min-width: 768px) and (max-width:1024px){
    
/*partenaire*/
    .service_partenaire {
        height: 75vh;
        
    }
    .partenaire_contenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
    }
  }

  /*  styles CSS pour les téléphones ici */
  @media only screen and (max-width: 767px) {

  }
 
